{% extends "base.html" %}

{% block title %} შესვლა {% endblock %}

{% block container %}
<div class="row mt-2">
    <form class="col-6 offset-3 my-2" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for errors in form.errors.values() %}
        <div class="alert alert-danger">
            {% for error in errors %}
            * {{ error }}<br>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="row mt-2">
            {{ form.name(class="form-control", placeholder=form.name.label.text ) }}
        </div>
        <div class="row mt-2">
            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.login(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}



